.qMotivaBigBox{
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url("assets/fondoquenosmotiva.jpg");
	background-position: center center;
	z-index: 100;
}

.qMotivaSmallBox{
	position: absolute;
	text-align: right;
	z-index: 110;
	top: 0;
	right: 0;
	height: 88%;
	border-style: solid;
	border-color: white; 
	border-width: 7px;
	border-right: 0;
	border-top: 0;
}

.qMotivaImg{
	position: absolute;
	width:45%;
	bottom: 5%;
	left: 5%;
}

.qMotivaText{
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}