<div class="qMotivaBigBox">
	<div class="row">
		<div class="offset-lg-1 offset-md-1 col-lg-11 col-md-11 qMotivaSmallBox">
			<img class="qMotivaImg" src="assets/tituloquenosmotiva.png" alt="Nos motiva">
			<p class="myFont qMotivaText">
				Actualmente, los hábitos de <br>higiene masculina no cubren a <br>cabalidad los requerimientos de <br>cuidado y salud que todo <br>hombre debe cubrir para sentirse <br> fresco y lozano, por lo que <br>mientras estos hábitos no sean <br>renovados, seguiremos <br>trabajando incansablemente <br>hasta que logremosinculcarle a <br>la sociedad los hábitos que <br>mejorarán para siempre la <br><span>calidad de vida <br>masculina.</span>
			</p>
		</div>
	</div>
</div>