<div class="navBox">		
	<ul class="navList">
		<li class="navElem">
			<a href="#homeTag">
				<i class="fa fa-circle" aria-hidden="true"></i>
			</a>		
		</li>
		<li class="navElem">
			<a href="#qSomosTag">
				<i class="fa fa-circle" aria-hidden="true"></i>
			</a>		
		</li>
		<li class="navElem">
			<a href="#qHacemosTag">
				<i class="fa fa-circle" aria-hidden="true"></i>
			</a>		
		</li>
		<li class="navElem">
			<a href="#qMotivaTag">
				<i class="fa fa-circle" aria-hidden="true"></i>
			</a>		
		</li>
		<li class="navElem">
			<a href="#hClubTag">
				<i class="fa fa-circle" aria-hidden="true"></i>
			</a>		
		</li>
		<li class="navElem">
			<a href="#mStoreTag">
				<i class="fa fa-circle" aria-hidden="true"></i>
			</a>		
		</li>
		<li class="navElem">
			<a href="#contactTag">
				<i class="fa fa-circle" aria-hidden="true"></i>
			</a>		
		</li>
	</ul>
</div>