<div class="qSomosBigBox">
		<img class="qSomosBox1" src="assets/bigoteycuadroquienessomos.png" alt="">
	<div class="qSomosBox2">
		<img class="qSomosImg" src="assets/tituloquienessomos.png" alt="quienes somos">
		<div class="qSomosTextBox">
			<p class="myFont qSomosText">
				Hustle es una movida <br>que busca renovar los <br>preceptos que la <br>sociedad ha impuesto <br>sobre los hábitos de <br>higiene masculina, con lo <br>cual podemos decir que <br>somos una empresa <br>dedicada a establecer los <br>parámetros que definirán <br>las nuevas tendencias <br>que seguirán los hombres <br>del siglo XXI <br>
			</p>			
		</div>
	</div>
</div>