<div class="qHacemosBigBox">
	<img class="qHacemosImg" src="assets/lataquehacemos.png" alt="Star Product">
	<div class="row">
		<div class="col-lg-6 col-md-6 qHacemosSmallBox">
			<div class="row">	
				<div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 qHacemosTextBox">
					<p class="myFont">
						Con el fin de <br><span>romper los paradigmas</span> <br>que la sociedad actual ha impuesto <br>sobre los hábitos de higiene <br> masculina
					</p>
					<p class="myFont">
						Hustle se encargará de <br><span>crear consciencia</span> <br>respecto a este tema, proporcionando <br>a nuestro público productos, noticias <br>y demás herramientas necesarias <br>para revolucionar en este ámbito
					</p>
				</div>
			</div>
		</div>
	</div>
</div>